
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Biểu đồ doanh số bán hàng 6 tháng gần nhất</h2>
    <!-- Render Partial View -->
    @Html.Partial("chartPartial")

</div>

