
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mian">
    <div class="single">
        <div class="content span_1_of_2">
            <div class="about">
                <h5>About</h5>
                <div style="display: flex">
                    <img src="~/wwwroot/Images/House.png" width="40" />
                    <div>
                        <p style="margin-top: 5px; margin-bottom: 0px; margin-left: 10px; font-size: 20px">Khối 5 - TT Mường Xén - Kỳ Sơn - Nghệ An, Ky Son, Vietnam</p>
                        <p style="margin-left: 10px; font-size: 15px; ">địa chỉ</p>
                    </div>

                </div>
                <div style="display: flex">
                    <img src="~/wwwroot/Images/cungcap.png" width="40" />
                    <div>
                        <p style="margin-top: 5px; margin-bottom: 0px; margin-left: 10px; font-size: 20px">Diễn Châu, Nghệ An · Nghi Lộc, Nghệ An</p>
                        <p style="margin-left: 10px; font-size: 15px; ">Khu vực cung cấp dịch vụ</p>
                    </div>

                </div>
                <div style="display: flex">
                    <img src="~/wwwroot/Images/sdt.png" width="40" />
                    <div>
                        <p style="margin-top: 5px; margin-bottom: 0px; margin-left: 10px; font-size: 20px">094 491 95 35</p>
                        <p style="margin-left: 10px; font-size: 15px; ">Di động</p>
                    </div>

                </div>
                <div style="display: flex">
                    <img src="~/wwwroot/Images/email.png" width="40" />
                    <div>
                        <p style="margin-top: 5px; margin-bottom: 0px; margin-left: 10px; font-size: 20px">hunghahoahuong@gmail.com</p>
                        <p style="margin-left: 10px; font-size: 15px; ">Email</p>
                    </div>

                </div>
                <div style="display: flex">
                    <img src="~/wwwroot/Images/giohoatdong.png" width="40" />
                    <div>
                        <p style="margin-top: 5px; margin-bottom: 0px; margin-left: 10px; font-size: 20px">Từ 7h đến 5h30 hằng ngày</p>
                        <p style="margin-left: 10px; font-size: 15px; ">Giờ hoạt động</p>
                    </div>

                </div>
                <div style="display: flex">
                    <img src="~/wwwroot/Images/dichvu.png" width="40" />
                    <div>
                        <p style="margin-top: 5px; margin-bottom: 0px; margin-left: 10px; font-size: 20px">Đặt mua rồi tự đến lấy tại cửa hàng</p>
                        <p style="margin-left: 10px; font-size: 15px; ">Dịch vụ</p>
                    </div>

                </div>
                <div>
                    <p style="font-size:20px">📣📣 Hưng Hà town - CHĂM XE NHANH CHÓNG, BẢO DƯỠNG THẢNH THƠI  💯💯</p>
                    <p style="font-size:20px">💢 “Đi bảo dưỡng xe thôi, gấp lắm rồi!”</p>
                    <p style="font-size:20px">Không sao, dù có gấp đến đâu thì Hưng Hà town vẫn sẵn sàng giúp bạn chăm xe một cách tận tâm và nhanh chóng vì có:</p>
                    <p style="font-size:20px">✔️ Không gian: Rộng rãi thoáng mát, được trang bị các thiết bị hiện đại chất lượng chuẩn Nhật Bản, có phòng chờ máy lạnh cho khách hàng.</p>
                    <p style="font-size:20px">✔️ Dịch vụ 10 điểm: KTV có kinh nghiệm và tay nghề cao, hỗ trợ khách hàng nhiệt tình, kiểm tra xe kỹ lưỡng, cung cấp nhiều hậu mãi hấp dẫn,…</p>
                    <p style="font-size:20px">✔️ Cung cấp những sản phẩm chính hãng chất lượng cao như dầu nhớt Yamalube, phụ tùng, phụ kiện cho xe máy,…</p>
                    <p style="font-size:20px">✔️ Chính sách giao phụ tùng nhanh chóng: giao trong ngày đối với 31 tỉnh thành lớn khi đặt hàng trước 12h trưa và ngay ngày hôm sau đối với các tỉnh thành ở xa</p>
                    <p style="font-size:20px">😉 Hưng Hà town không chỉ là đại lý chính hãng mà còn là nơi giúp khách hàng có thể trải nghiệm các dịch vụ chuyên nghiệp về xe. Đến Hưng Hà town để trải nghiệm ngay nhé!</p>
                        
                        
                    
                </div>
            </div>
        </div>
        
        <div class="clear"></div>
    </div>
</div>
