<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="@Url.Action("Index","DonHangs")">Đơn hàng mới (@ViewBag.donhang)</a></li>
    <li><a class="dropdown-item" href="@Url.Action("Index","Taikhoans")">Tài khoản mới (@ViewBag.taikhoan)</a></li>
    <li><hr class="dropdown-divider" /></li>
    <li>
        <a class="dropdown-item" href="#"></a>
    </li>
</ul>
